<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="semubot_white">
    <color rgba="0.95 0.95 0.95 1.0"/>
  </material>
  <material name="semubot_cyan">
    <color rgba="0.1 0.8 0.8 1.0"/>
  </material>
  <material name="semubot_black">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>
</robot>
